@model BookExchange3.Models.Reserve
@{
    ViewBag.Title = "Request Confirmation";
}

<h2>Thank You For Your Request</h2>
<p >
    We will reserve this book for you to pick up for three days at
</p>
<p>
    Room 100 
    <br />
    3409 Woodland Ave, Cleveland, OH 44115
    <br />
    Located in: Cuyahoga Community College Metropolitan Campus
</p>


