
@{
    ViewBag.Title = "Thank You!";
}

<h2>Thank You For Your Donation!</h2>
<p>
    We will wait for you to drop off that book at
</p>
<p>
    Room 100 
    <br />
    3409 Woodland Ave, Cleveland, OH 44115
    <br />
    Located in: Cuyahoga Community College Metropolitan Campus
</p>

