@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Book Exchange Application</h3>
<br />
<h2>By Rustam Mirzaev</h2>
<br />
<p>Software Developer in Training</p>
<p> Cleveland Codes Tri-C Software Developers Academy</p>
<p>IT Center of Excellence</p>
<p>Advanced Technology Center</p>
<p>3409 Woodland Avenue, Cleveland, OH 44115</p>
<br />
<p>Phone: 216-801-6162</p>
<p>Email: S01135804@acad.tri-c.edu</p>
<p>GitHub: rustammirzaev606</p>

<p></p>
